<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
{% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}

{% include "blog/search-blog.html" %}

<h1>Hello Word</h1>
{% for e in qs %}
<li>
    <!--<a href="/blog/{{e.id}}">{{ e.title }}</a>-->
    <a href="{% url 'blog:detail' id=e.id %}">{{ e.title }}</a>

</li>
{% endfor %}
</body>
</html>